{% extends "meerbalajcv/admin/index.html" %}
{% block content %}
{% load static %}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card" style="box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, .6);">
        <div class="card-body">
            <h4 class="card-title mb-5">Contact Entries Table</h4>
            {% if not contact_data %}
            <h4 class="text-center card-title mb-5">No Entries Found!</h4>
            {% endif %}
            {% if contact_data %}
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr class="table-info">
                            <th class="text-center">
                                User Name
                            </th>
                            <th class="text-center">
                                User Email
                            </th>
                            <th class="text-center">
                                Message
                            </th>
                            <th class="text-center">
                                Entry Date / Time
                            </th>
                            <th class="text-center">
                                Delete Entries
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contact in contact_data %}
                        <tr>
                            <td class="text-center">
                                {{contact.contact_from_name}}
                            </td>
                            <td class="text-center">
                                {{contact.contact_from_email}}
                            </td>
                            <td class="text-center">
                                {{contact.contact_message}}
                            </td>
                            <td class="text-center">
                                {{contact.contact_us_date_time}}
                            </td>
                            <td class="text-center">
                                <a href="{% url 'Del_contact_entries' contact.id %}">
                                    <button type="button" class="btn btn-sm btn-inverse-danger">Delete</button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}