{% extends "meerbalajcv/admin/index.html" %}
{% block content %}
{% load static %}
<div class="row justify-content-center align-items-start w-100">
    <div class="col-md-8 grid-margin stretch-card">
        <div class="card" style="box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, .6);">
            <div class="card-body">
                <h4 class="card-title">Update {{form.completed_before_name.value}}</h4>
                <p class="card-description">
                    {{form.completed_before_name.value}} will updated to new entries that you will add here
                </p>
                <form method="POST">
                    <div class="form-group">
                        <label for="exampleInputUsername1">Name</label>
                        <input value="{{form.completed_before_name.value}}" type="text"  name="{{form.completed_before_name.name}}" class="form-control" placeholder="odoo..">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputUsername1">Count</label>
                        <input value="{{form.completed_before_count.value}}" type="text"  name="{{form.completed_before_count.name}}" class="form-control" placeholder="12..">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputUsername1">Icon Color</label>
                        <input value="{{form.color.value}}" type="text"  name="{{form.color.name}}" class="form-control" placeholder="#000">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputUsername1">Icon</label>
                        <input value="{{form.mark.value}}" type="text"  name="{{form.mark.name}}" class="form-control" placeholder="cell.">
                    </div>
                    <button type="submit" class="w-100 btn btn-primary mr-2">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}