{% extends "meerbalajcv/admin/index.html" %}
{% block content %}
{% load static %}
<div class="row justify-content-between align-items-start w-100">
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card" style="box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, .6);">
            <div class="card-body">
                <h4 class="card-title">Add Meta Images</h4>
                <p class="card-description">
                    Images will show right after the my works section
                </p>
                <form method="POST" action="" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="exampleInputUsername1">Image Title</label>
                        <input type="text" required="" name="{{form.name_img.name}}" class="form-control" placeholder="Scenery..">
                    </div>
                    <div class="form-group">
                        <label>Attach Image</label>
                        <input type="file" class="file-upload-default" name="bar_img" accept="image/*" required="" id="id_bar_img">
                        <div class="input-group col-xs-12">
                            <input type="text" class="form-control file-upload-info" disabled="" placeholder="Image..">
                            <span class="input-group-append">
                                <button class="file-upload-browse btn btn-primary" type="button">Attach Image</button>
                            </span>
                        </div>
                    </div>
                    <button type="submit" class="w-100 btn btn-primary mr-2">Upload</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-7 grid-margin stretch-card">
        <div class="card" style="box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, .6);">
            <div class="card-body">
                <h4 class="card-title mb-5">Meta Images Table</h4>
                {% if not meta_data %}
                <h4 class="text-center card-title mb-5">No Meta Images Found!</h4>
                {% endif %}
                {% if meta_data %}
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    Meta Image
                                </th>
                                <th class="text-center">
                                    Title
                                </th>

                                <th class="text-center">
                                    Delete Images
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for meta in meta_data %}
                            <tr>
                                {% if meta.bar_img %}
                                <td class="text-center">
                                    <img src="{{meta.bar_img.url}}" width="200" height="200" />
                                </td>
                                {% endif %}
                                {% if not meta.bar_img %}
                                <td class="text-center">
                                    No Preview Available
                                </td>
                                {% endif %}
                                <td class="text-center py-1">
                                    {{meta.name_img}}
                                </td>
                                <td class="text-center">
                                    <a href="{% url 'Del_images_entries' meta.id %}">
                                        <button type="button" class="btn btn-sm btn-inverse-danger">Delete</button>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}